.textarea-wrap {
  position: relative;
  flex-grow: 1;
}

.textarea {
  padding: 10px;
  margin: 0;
  border: none;
  background: #F5F5F5;
  min-height: 35px;
  box-sizing: border-box;
  color: black;
  text-align: left;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  resize: none;
  overflow: hidden;
  border-radius: 3px;
}

.textarea[data-type="orange"] {
  border-radius: 6px;
  background-color: #ffe4c4;
  border:  #ffe4c4;
}

.textarea-control {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}